---
import PageLayout from '../../layouts/PageLayout.astro';

import company from '../../data/company.json';
import postbound from '../../data/games/postbound.json';
import steamIcon from '../../assets/svg/icons/steam.svg';
---

<PageLayout title='Postbound!' description=`A game developed by ${company.name}.`>
	<Fragment slot="page-header">Postbound!</Fragment>
	<article slot="page-content">
		<h2>Factsheet</h2>
		<p>
			<b>Framework</b>: <a href="https://godotengine.org">Godot Engine</a>
			<br>
			<b>Status</b>: Released
			<br>
			<b>Team Size</b>: 3
			<br>
			<b>Release date</b>: July 22, 2024
			<br>
			<b>Genre</b>: Arcade, Casual
			<br>
			<div class="store-links">
				<a class="store-link" href=`${postbound.steamPageURL}` title="Steam"><svg class="steam-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="64" width="64" viewBox="0 0 65 65"><use xlink:href="#steam-symbol" x=".5" y=".5"/><symbol id="steam-symbol"><path d="M1.305 41.202C5.259 54.386 17.488 64 31.959 64c17.673 0 32-14.327 32-32s-14.327-32-32-32C15.001 0 1.124 13.193.028 29.874c2.074 3.477 2.879 5.628 1.275 11.328z" fill="var(--color-on-surface)"/><path fill="var(--color-surface)" d="m30.31 23.985.003.158-7.83 11.375a8.8 8.8 0 0 0-3.748.662 8 8 0 0 0-1.498.8L.042 29.893s-.398 6.546 1.26 11.424l12.156 5.016a8.84 8.84 0 0 0 5.242 6.27 8.88 8.88 0 0 0 11.603-4.782 8.9 8.9 0 0 0 .684-3.656L42.18 36.16l.275.005c6.705 0 12.155-5.466 12.155-12.18s-5.44-12.16-12.155-12.174c-6.702 0-12.155 5.46-12.155 12.174zm-1.88 23.05a6.844 6.844 0 0 1-8.953 3.694 6.84 6.84 0 0 1-3.524-3.362l3.957 1.64a5.04 5.04 0 0 0 6.591-2.719 5.05 5.05 0 0 0-2.715-6.601l-4.1-1.695a6.8 6.8 0 0 1 5.05.077c1.7.703 3 2.027 3.696 3.72s.692 3.56-.01 5.246M42.466 32.1a8.12 8.12 0 0 1-8.098-8.113 8.12 8.12 0 0 1 8.098-8.111 8.12 8.12 0 0 1 8.1 8.111 8.12 8.12 0 0 1-8.1 8.113m-6.068-8.126a6.09 6.09 0 0 1 6.08-6.095c3.355 0 6.084 2.73 6.084 6.095a6.09 6.09 0 0 1-6.084 6.093 6.09 6.09 0 0 1-6.081-6.093z"/></symbol></svg><svg class="steam-icon-hover" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="64" width="64" viewBox="0 0 65 65"><use xlink:href="#steam-symbol-hover" x=".5" y=".5"/><defs><linearGradient id="steam-gradient" x2="50%" x1="50%" y2="100%" y1="0%"><stop stop-color="#111d2e" offset="0%"/><stop stop-color="#051839" offset="21.2%"/><stop stop-color="#0a1b48" offset="40.7%"/><stop stop-color="#132e62" offset="58.1%"/><stop stop-color="#144b7e" offset="73.8%"/><stop stop-color="#136497" offset="87.3%"/><stop stop-color="#1387b8" offset="100%"/></linearGradient></defs><symbol id="steam-symbol-hover"><path d="M1.305 41.202C5.259 54.386 17.488 64 31.959 64c17.673 0 32-14.327 32-32s-14.327-32-32-32C15.001 0 1.124 13.193.028 29.874c2.074 3.477 2.879 5.628 1.275 11.328z" fill="url(#steam-gradient)"/><path fill="#FFF" d="m30.31 23.985.003.158-7.83 11.375a8.8 8.8 0 0 0-3.748.662 8 8 0 0 0-1.498.8L.042 29.893s-.398 6.546 1.26 11.424l12.156 5.016a8.84 8.84 0 0 0 5.242 6.27 8.88 8.88 0 0 0 11.603-4.782 8.9 8.9 0 0 0 .684-3.656L42.18 36.16l.275.005c6.705 0 12.155-5.466 12.155-12.18s-5.44-12.16-12.155-12.174c-6.702 0-12.155 5.46-12.155 12.174zm-1.88 23.05a6.844 6.844 0 0 1-8.953 3.694 6.84 6.84 0 0 1-3.524-3.362l3.957 1.64a5.04 5.04 0 0 0 6.591-2.719 5.05 5.05 0 0 0-2.715-6.601l-4.1-1.695a6.8 6.8 0 0 1 5.05.077c1.7.703 3 2.027 3.696 3.72s.692 3.56-.01 5.246M42.466 32.1a8.12 8.12 0 0 1-8.098-8.113 8.12 8.12 0 0 1 8.098-8.111 8.12 8.12 0 0 1 8.1 8.111 8.12 8.12 0 0 1-8.1 8.113m-6.068-8.126a6.09 6.09 0 0 1 6.08-6.095c3.355 0 6.084 2.73 6.084 6.095a6.09 6.09 0 0 1-6.084 6.093 6.09 6.09 0 0 1-6.081-6.093z"/></symbol></svg></a>
			</div>
			<br>
		</p>
		<h2>Summary</h2>
		<p>
			<b>Postbound!</b> is an arcade-style mail sorting game following your journey as a novice postal worker. In this casual, light-hearted, and family-friendly game filled with humor, you must correctly sort mail into the appropriate boxes before time runs out! The postmaster is there to help, at least when he's not sleeping. The post inspector comes by regularly to ensure you're doing your job, so don't get caught slacking!
		</p>
		<h3>Story</h3>
		<p>
			In the singleplayer campaign, you traverse a 7-day journey as a novice postal worker, getting to know various characters along the way and helping them get the mail delivered on time.
		</p>
		<h3>Features</h3>
		<ul>
			<li>Seven story-filled days of varying lengths, between 5-10 minutes each.</li>
			<li><b>High Score Mode</b>: Get as high of a score as possible in a set amount of time!</li>
			<li><b>Time Attack Mode</b>: Get a set amount of score in as little time as possible!</li>
			<li><b>Endless Mode</b>: Keep the fun times rolling! Get as high of a score as you possibly can!</li>
		</ul>
	</article>
</PageLayout>

<style lang="scss">
p {
	margin-top: 0.5rem;
}

.store-links {
	display: flex;
}

.store-link {
	display: flex;
	transition: 200ms ease-out;

	svg {
		width: 64px;
		height: 64px;
	}
}

.store-link[title="Steam"] {

	.steam-icon {
		display: block;
		visibility: visible;
	}

	.steam-icon-hover {
		display: none;
		visibility: hidden;
	}

	&:hover {
		.steam-icon {
			display: none;
			visibility: hidden;
		}

		.steam-icon-hover {
			display: block;
			visibility: visible;
		}
	}
}
</style>