---
import PageLayout from '../layouts/PageLayout.astro';

import AudioPlayer from '../components/AudioPlayer.astro';
import audio from '../assets/audio/adelheid.mp3';
---

<PageLayout title='FAQ' description=`Frequently asked questions.`>
	<Fragment slot="page-header">FAQ</Fragment>
	<article slot="page-content">
		<h2>How is 'Adelheid' pronounced?</h2>
		<p>Press the audio icon below to hear the pronunciation.</p>
		<span style="display: inline-block; vertical-align: middle; margin-top: 1rem;"><AudioPlayer audioSrc={audio}/></span>
		<div style="display: inline-block; vertical-align: middle; margin-top: 1rem;">
			<div style="display: flex; flex-direction: column;">
				<span style="font-size: 1.802rem; font-weight: 600;">a·del·heid</span>
				<span style="font-size: 1rem;">/ˈædəlhaɪd/</span>
			</div>
		</div>

		<h2>What is your stance on privacy?</h2>
		<p>We believe that privacy is an inalienable right that must always be respected. While data is often useful for improving products and gathering feedback, we believe this data should be given voluntarily and as anonymously as possible, while still giving you control over how we deal with personalized data.</p>
		<p>You can read more in our <a href="/privacy">Privacy Policy</a>.</p>

		<h2>What is your stance on Web3, NFTs, and blockchain technology?</h2>
		<p>We strongly oppose anything and everything related to blockchain technology. The space is rife with scams and fails to solve any real problems.</p>
		<p>We will never utilize or endorse any kind of blockchain technology.</p>

		<h2>What is your stance on machine learning and generative AI?</h2>
		<p>We are not generally against the idea. We believe that machine learning is an incredibly useful field of research with tons of untapped potential in the gaming sphere. Namely, we believe it has extreme potential to greatly enhance actual NPC AI and make for much more fun and engaging experiences. In addition, machine learning is amazing at optimization problems and is incredibly useful in that area.</p>
		<p>When it comes to generative AI, we believe that it is incredibly useful for quick prototyping and generating concept art, but we don't find it suitable for production use. In addition to that, we believe it is important for human artists to be able to be successful in the industry. As such, we believe that generative AI is incredibly useful as a tool to enhance real human work, but it should never replace human artists.</p>
		<p>We have absolutely no plans to ever include AI-generated content in any of our games.</p>

		<h2>What is your stance on Stop Killing Games?</h2>
		<p>We fully support the Stop Killing Games initiative. We are fully committed to ensuring our games are always playable and available, even after we are long gone.</p>

		<h2>Why don't you have Twitter? What's Bluesky?</h2>
		<p>We firmly believe that Twitter as a platform stands against our values of community and openness, and that the platform itself has become uninclusive and abusive.</p>
		<p><a href="https://bsky.social/about">Bluesky</a> is a social media platform similar to Twitter, developed on the <a href="https://atproto.com/">AT Protocol</a>. The platform was originally created by Twitter and is now independently run by former Twitter employees. We believe that Bluesky reflects the values that Twitter once stood for, and is a much better, more inclusive platform for us to engage with our community on.</p>

		<h2>Why don't you have Instagram, Facebook, or Threads?</h2>
		<p>Due to our stance on privacy, we do not find any of these platforms suitable to be on.</p>

		<h2>Why aren't your games or software available on MacOS?</h2>
		<p>It's not that we don't want to, but Apple currently makes it prohibitively expensive and difficult to publish and distribute games and software on MacOS. In addition, the market for our games and software isn't very large on MacOS. For those reasons, we have no current plans to release games or software on any operating systems Apple owns and controls, but this is subject to change in the future.</p>
	</article>
</PageLayout>
