---
import PageLayout from '../layouts/PageLayout.astro';

import GameCard from '../components/GameCard.astro';

import postboundImage from '../assets/images/games/postbound/capsule.png';
import riskriegImage from '../assets/images/games/riskrieg/capsule.png';

import company from '../data/company.json';
import postbound from '../data/games/postbound.json';
---

<PageLayout title='Games' description=`Games developed by ${company.name}.`>
	<Fragment slot="page-header">Games</Fragment>
	<article slot="page-content">
		<h2>Released</h2>
		<div class="game-grid">
			<GameCard href="/games/postbound" title="Postbound!" image={postboundImage} body=`${postbound.name} is a 2D arcade-style mail sorting game following your journey as a novice postal worker.`/>
		</div>
		<h2>Upcoming</h2>
		<div class="game-grid">
			<GameCard href="https://riskrieg.com" title="Riskrieg" image={riskriegImage} body=`Re-releases 2025. Riskrieg is a conflict simulator that allows you to play out scenarios on a variety of maps.`/>
			<GameCard href="" title="Project Artemis" body=`Still under heavy development. Check back later this year!`/>
		</div>
		<!--<h2>Released</h2>
		<p><i>Nothing yet.</i></p>-->
	</article>
</PageLayout>

<style lang="scss">
.game-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 772px) {
	.game-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1142px) {
	.game-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}


p {
	margin-top: 0.5rem;
}
</style>