---
import PageLayout from '../layouts/PageLayout.astro';

import company from '../data/company.json';
import posthaste from '../data/games/posthaste.json';
---

<PageLayout title='Games' description=`Games developed by ${company.name}.`>
	<Fragment slot="page-header">Games</Fragment>
	<article slot="page-content">
		<h2>Upcoming</h2>
		<h3>Posthaste!</h3>
		<p>
			<b>Framework</b>: <a href="https://godotengine.org">Godot Engine</a>
			<br>
			<b>Development status</b>: Active Development
			<br>
			<b>Release date</b>: June/July 2024
			<br>
			<b>Store page</b>: <a href={posthaste.steamPageURL}>Steam Page</a> (Wishlist today!)
			<br><br>
			<b>{posthaste.name}</b> is a 2D arcade-style sorting game following your journey as a novice postal worker. In this casual, light-hearted, and family-friendly game filled with humor, you must correctly sort mail into the appropriate boxes before time runs out, while dealing with the Postmaster and Post Inspector!
		</p>
		<h3>Ailuros</h3>
		<p>
			<b>Framework</b>: <a href="https://godotengine.org">Godot Engine</a>
			<br>
			<b>Development status</b>: Planning
			<br>
			<b>Release date</b>: TBA
			<br>
			<b>Steam page</b>: Coming late April / Early May 2024
			<br><br>
			<b>Ailuros</b> is a 2D pixel art platformer where you play as a cat.
		</p>
		<h3>Project Artemis</h3>
		<p>
			<b>Framework</b>: <a href="https://godotengine.org">Godot Engine</a>
			<br>
			<b>Development status</b>: Planning
			<br>
			<b>Release date</b>: TBA
			<br><br>
			<b>Project Artemis</b> is the codename and working title for a 2D Metroidvania set in a quasi-medieval period.
		</p>
		<!--<h2>Released</h2>
		<p><i>Nothing yet.</i></p>-->
	</article>
</PageLayout>

<style lang="scss">
p {
	margin-top: 0.5rem;
}
</style>