---
import BaseLayout from '../layouts/BaseLayout.astro';

import PageHeader from '../components/base/PageHeader.astro';
import CallToAction from '../components/CallToAction.astro';

import company from '../data/company.json';
import social from '../data/social.json';
---

<BaseLayout title="Adelheid Software" description="An indie studio that develops games and game-related software solutions.">
	<PageHeader>
		<Fragment>{company.name}</Fragment>
	</PageHeader>
	<div class="page-content wrapper">
		<p>{company.legalName } is an indie studio that develops games and game-related software solutions.
			You can check out our games and software via the site navigation.
			We also have a technical blog where we talk about our experiences and share our knowledge and expertise.
		</p>
	</div>
	<CallToAction title="Subscribe to our newsletter!" href={social.newsletterURL}/>
</BaseLayout>

<style lang="scss">
	p {
		max-width: 65ch;
		font-size: 1.33rem;
	}

	h1 {
		font-size: 2.8rem;
		font-weight: 900;
		line-height: 1.1;
	}
</style>