---
const navItems = [
	{ href: '/', label: 'Home' },
	{ href: '/games', label: 'Games' },
	{ href: '/projects', label: 'Projects' },
	{ href: '/blog', label: 'Blog' },
	{ href: '/about', label: 'About' },
];
---
<nav aria-label="Primary">
	<ul role='list'>
		{navItems.map((item) =>  (
			<li>
				<a href={item.href} aria-current={(Astro.url.pathname.substring(0, Astro.url.pathname.lastIndexOf('.')) || Astro.url.pathname) === item.href ? "page" : undefined}>{item.label}</a>
			</li>
		))}
	</ul>
</nav>

<style lang="scss">
nav {
	line-height: 1;
	font-weight: 900;
	margin-top: -1rem;
	margin-inline-start: -1rem; // TODO: Change this to flexbox or something

	ul {
		display: flex;
		flex-wrap: wrap;

		>* {
			padding-top: 1rem;
			padding-inline-start: 1rem;
		}
	}

	a {
		text-decoration: none;
		display: block;
		position: relative;

		&:link,
		&:visited,
		&:hover,
		&:active {
			color: var(--color-on-background);
		}

		// Animation when hovering over non-active nav links
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 0.25rem;

			margin-top: 0.25rem;
			
			background: var(--color-primary);
			top: 100%;
			left: 0;

			border-radius: 16px;

			transform: scaleX(0);
			transform-origin: right center;
			transition: transform 300ms ease;
			will-change: transform;
		}

		&:hover:after {
			transform: scaleX(1);
			transform-origin: left center;
		}

		// Adds permanent underline to active state items
		&[aria-current='page'] {
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 0.25rem;

				margin-top: 0.25rem;
			
				background: var(--color-on-background);
				top: 100%;
				left: 0;

				border-radius: 16px;

				transform: scaleX(1);
			}

			&:hover:after {
				background: var(--color-primary);
			}
		}
	}
}
</style>