<div class="page-header">
	<div class="wrapper">
		<h1><slot/></h1>
	</div>
</div>

<style lang="scss">
.page-header {
	//background-color: var(--color-surface);
	//color: var(--color-on-surface);
	padding-top: 1rem;
	//padding-bottom: 0;
	//padding-bottom: 1rem;

	h1 {
		font-size: 3.2rem;
		margin-top: 1rem;
		line-height: 1.0;
		//margin-bottom: 1rem;
		padding-bottom: 0;
	}
}
</style>