---
interface Props {
	audioSrc: string
}

const { audioSrc } = Astro.props; // TODO: Add option to provide slowed down alternate audio and switch between the two each time you play the audio
---

<div class="[ audio-player ] [ circle-hover-effect ]" id="audio-player-button" title="Listen">
	<div class="audio-icon">
		<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="play-icon" viewBox="0 -960 960 960" height="24" width="24">
			<path d="M760-481q0-83-44-151.5T598-735q-15-7-22-21.5t-2-29.5q6-16 21.5-23t31.5 0q97 43 155 131.5T840-481q0 108-58 196.5T627-153q-16 7-31.5 0T574-176q-5-15 2-29.5t22-21.5q74-34 118-102.5T760-481ZM280-360H160q-17 0-28.5-11.5T120-400v-160q0-17 11.5-28.5T160-600h120l132-132q19-19 43.5-8.5T480-703v446q0 27-24.5 37.5T412-228L280-360Zm380-120q0 42-19 79.5T591-339q-10 6-20.5.5T560-356v-250q0-12 10.5-17.5t20.5.5q31 25 50 63t19 80ZM400-606l-86 86H200v80h114l86 86v-252ZM300-480Z" fill="currentColor"/>
		</svg>
		<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="stop-icon" viewBox="0 -960 960 960" height="24" width="24">
			<path d="M240-320v-320q0-33 23.5-56.5T320-720h320q33 0 56.5 23.5T720-640v320q0 33-23.5 56.5T640-240H320q-33 0-56.5-23.5T240-320Z" fill="currentColor"/>
		</svg>		
	</div>
</div>
<audio id="audio-player-source">
	<source src={audioSrc} type="audio/mpeg">
	Your browser does not support the audio element.
</audio>

<script>
	const button = document.getElementById('audio-player-button');
	const audio = document.getElementById('audio-player-source');
	const playIcon = button.querySelector('.play-icon'); 
	const stopIcon = button.querySelector('.stop-icon');

	button.addEventListener('click', function() {
	if (audio.paused || audio.ended) {
		playIcon.style.display = 'none';  // Hide play icon
		stopIcon.style.display = 'inline'; // Show stop icon

		audio.currentTime = 0; // Reset audio
		audio.play();
	} else {
		audio.pause();

		stopIcon.style.display = 'none';   // Hide stop icon
		playIcon.style.display = 'inline'; // Show play icon
	}

	});

	audio.addEventListener('ended', function() {
		playIcon.style.display = 'inline'; // Show play icon on finish
		stopIcon.style.display = 'none'; // Hide stop icon on finish
	});
</script>

<style lang="scss">
.audio-player {
	background-color: transparent;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
}

.audio-icon {
	display: flex;
	svg {
		width: 32px;
		height: 32px;
	}
	.play-icon {
		display: inline;
	}
	.stop-icon {
  		display: none; 
	}
}
</style>