---
import LinkButton from './LinkButton.astro';

interface Props {
	title: string;
	href: string;
}

const { title, href } = Astro.props;
---

<section class="cta">
	<div class="wrapper">
		<h2 class="heading">{title}</h2>
		<div class="essay">
			<p>
				We post about our games, software, and experiences on our blog and via our newsletter. If you're interested in following along on our journey, also be sure to <a href="/contact">follow us on social media</a> in order to be rapidly informed about our most recent posts!
			</p>
		</div>
		<div class="action">
			<LinkButton label="Subscribe" href={href}/>
		</div>
	</div>
</section>

<style lang="scss">
.cta {
	background-color: var(--color-surface-variant);
	color: var(--color-on-surface-variant);
	padding-top: 1rem;
	padding-bottom: 3rem;

	display: flex;
	flex-direction: column;
	justify-content: center;

	transition: all 0.5s;
}

.heading {
	font-size: 2.5rem;
	line-height: 1.3;
	font-weight: 900;
	text-align: center;

	@media (min-width: 37em) {
		font-size: 3.15rem;
	}

	@media (min-width: 56em) {
		font-size: 4rem;
	}
}

.essay {
	display: flex;
	justify-content: center;

	p {
		font-size: 1.33rem;
		text-align: justify;
		max-width: 72ch;
	}
}

.action {
	display: flex;
	justify-content: center;
}
</style>
