---
import BaseLayout from '../layouts/BaseLayout.astro';

import PageHeader from '../components/base/PageHeader.astro'

import company from '../data/company.json';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<BaseLayout title=`${title} | ${company.name}` description={description}>
	{Astro.slots.has("page-header") &&
	<PageHeader>
		<slot name="page-header"/>
	</PageHeader>
	}
	<div class="page-content wrapper">
		<slot name="page-content"/>
	</div>
</BaseLayout>

<style is:global lang="scss">
	// All of these '!important' is a very hacky and temporary workaround to a styling order bug with Astro. Still might not work fully properly, though.
	h1 {
		font-size: 2.8rem !important;
		font-weight: 900 !important;
		line-height: 1.1 !important;
		padding-bottom: 1rem !important;
	}

	h2 {
		line-height: 1 !important;
	}

	p {
		//max-width: 65ch;
		font-size: 1.33rem !important;
	}

	ul:not([role='list']) {
		li {
			//max-width: 65ch;
			font-size: 1.33rem !important;
			line-height: 1.7 !important;
			padding-bottom: 1rem !important;
		}
	}
</style>